<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="public/test.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>test</h1>

        <%if(!is_session){%> <%if(is_wrong_id){%>
        <script>
            alert("id 또는 비밀번호가 틀렸습니다.");
        </script>
        <%}%>
        <form action="login" method="get">
            username:<input type="text" name="name" /> passward:<input
                type="password"
                name="passward"
            />
            <input type="submit" value="로그인" />
        </form>
        <form action="move_test" method="get">
            <input type="submit" value="회원가입" />
        </form>
        <%} else{%>
        <div><%=nsername%></div>
        <form action="logout" method="get">
            <input type="submit" />
        </form>
        <%}%>
    </body>
</html>
